In [1]:
import pandas as pd
import numpy as np

# Reading the CSV document

In [2]:
df = pd.read_csv("../data/tornado_2014_raw_data.csv")

# Pulling the head of the (First 5 rows) CSV

In [3]:
df.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,201402,18,1000,201402,18,2000,83473,503953,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure developing south of Long Island a...,Eight to twelve inches of snow fell across eas...,CSV
1,201402,5,300,201402,5,2300,83491,504065,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure moving off the mid-Atlantic coast...,Six to twelve inches of snow fell across easte...,CSV
2,201401,18,1000,201401,19,700,82185,494521,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure brought a brief period of heavy s...,Four to eight inches of snow fell across easte...,CSV
3,201411,26,1000,201411,27,1000,91728,549746,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A strong coastal storm moved up the east coast...,Six to eight inches of snow fell across easter...,CSV
4,201402,13,630,201402,14,800,83476,503982,NEW HAMPSHIRE,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A significant winter storm brought six to twel...,Five to eight inches of snow fell across easte...,CSV

In [4]:
df.shape

(59475, 51)

In [5]:
# Keep only tornado events
tornado_2014_df = df[df['EVENT_TYPE'].str.lower() == 'tornado'].copy()

# Drop columns that are mostly empty or irrelevant
cols_to_drop = [
    'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT', 'DEATHS_INDIRECT',
    'TOR_OTHER_WFO', 'TOR_OTHER_CZ_STATE', 'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME',
    'CATEGORY', 'FLOOD_CAUSE', 'MAGNITUDE_TYPE',
    'BEGIN_RANGE', 'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH', 
    'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'DAMAGE_PROPERTY', 
    'DAMAGE_CROPS', 'EPISODE_ID', 'STATE_FIPS', 'CZ_NAME', 'WFO', 'MAGNITUDE', 'DATA_SOURCE',
    'EPISODE_NARRATIVE','EVENT_NARRATIVE','EVENT_ID','BEGIN_DATE_TIME','CZ_TIMEZONE',
    'END_DATE_TIME','CZ_TYPE','CZ_FIPS', "END_DAY", "END_TIME", "END_YEARMONTH"
]

tornado_2014_df.drop(columns=cols_to_drop, inplace=True)

tornado_2014_df.reset_index(drop=True, inplace=True)

tornado_2014_df

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,STATE,YEAR,MONTH_NAME,EVENT_TYPE,SOURCE,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH
0,201410,14,711,SOUTH CAROLINA,2014,October,Tornado,NWS Storm Survey,EF0,0.89,100.0
1,201410,14,1900,SOUTH CAROLINA,2014,October,Tornado,NWS Storm Survey,EF0,1.00,50.0
2,201405,16,231,VIRGINIA,2014,May,Tornado,NWS Storm Survey,EF0,0.40,75.0
3,201409,4,226,NORTH DAKOTA,2014,September,Tornado,Public,EF0,1.05,30.0
4,201409,8,1545,NORTH CAROLINA,2014,September,Tornado,NWS Storm Survey,EF2,0.15,100.0
...,...,...,...,...,...,...,...,...,...,...,...
1059,201406,30,2126,ILLINOIS,2014,June,Tornado,NWS Storm Survey,EF1,3.20,110.0
1060,201407,8,1234,OHIO,2014,July,Tornado,NWS Storm Survey,EF1,6.72,200.0
1061,201407,8,1233,OHIO,2014,July,Tornado,NWS Storm Survey,EF1,1.58,200.0
1062,201407,8,1243,OHIO,2014,July,Tornado,NWS Storm Survey,EF1,1.57,200.0
1063,201407,8,1315,OHIO,2014,July,Tornado,NWS Storm Survey,EF1,5.39,200.0

# Renaming columns and dropping old names

In [6]:
tornado_2014_df['BEGIN_YEARMONTH'] = tornado_2014_df['BEGIN_YEARMONTH'].astype(str) #CONVERT TO STRING!!!!

tornado_2014_df['Year'] = tornado_2014_df['BEGIN_YEARMONTH'].str[:4].astype(int)   # USING SPLICING // first 4 digits
tornado_2014_df['Month'] = tornado_2014_df['BEGIN_YEARMONTH'].str[4:6].astype(int) # USING SPLICING // last 2 digits
tornado_2014_df.drop(columns=['BEGIN_YEARMONTH'], inplace=True) #DROP OLD COLUMN NAME

tornado_2014_df.rename(columns={
    'BEGIN_TIME':'TIME',
    'MONTH_NAME' : 'MONTH',
    'BEGIN_DAY' : "DAY"
},inplace=True)

tornado_2014_df.head()

,DAY,TIME,STATE,YEAR,MONTH,EVENT_TYPE,SOURCE,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH,Year,Month
0,14,711,SOUTH CAROLINA,2014,October,Tornado,NWS Storm Survey,EF0,0.89,100.0,2014,10
1,14,1900,SOUTH CAROLINA,2014,October,Tornado,NWS Storm Survey,EF0,1.00,50.0,2014,10
2,16,231,VIRGINIA,2014,May,Tornado,NWS Storm Survey,EF0,0.40,75.0,2014,5
3,4,226,NORTH DAKOTA,2014,September,Tornado,Public,EF0,1.05,30.0,2014,9
4,8,1545,NORTH CAROLINA,2014,September,Tornado,NWS Storm Survey,EF2,0.15,100.0,2014,9

# Moving The Month and Year columns to the front

In [7]:
# Move 'Month' to position 0 (first column)
month_col = tornado_2014_df.pop('Month')   # remove it temporarily
tornado_2014_df.insert(0, 'Month', month_col)  # insert at position 0
# Same thing for Month
month_col = tornado_2014_df.pop('Year')   # remove it temporarily
tornado_2014_df.insert(0, 'Year', month_col)  # insert at position 0

tornado_2014_df.head()

,Year,Month,DAY,TIME,STATE,YEAR,MONTH,EVENT_TYPE,SOURCE,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH
0,2014,10,14,711,SOUTH CAROLINA,2014,October,Tornado,NWS Storm Survey,EF0,0.89,100.0
1,2014,10,14,1900,SOUTH CAROLINA,2014,October,Tornado,NWS Storm Survey,EF0,1.00,50.0
2,2014,5,16,231,VIRGINIA,2014,May,Tornado,NWS Storm Survey,EF0,0.40,75.0
3,2014,9,4,226,NORTH DAKOTA,2014,September,Tornado,Public,EF0,1.05,30.0
4,2014,9,8,1545,NORTH CAROLINA,2014,September,Tornado,NWS Storm Survey,EF2,0.15,100.0

# Changing the time to a format more readable, making sure it's a 4 digit values and adding a colon

In [8]:
tornado_2014_df['TIME'] = tornado_2014_df['TIME'].astype(str).str.zfill(4) # Make sure 4 digit value
tornado_2014_df['TIME'] = tornado_2014_df['TIME'].str[:2] + ':' + tornado_2014_df['TIME'].str[2:] #Adding a colon
tornado_2014_df['TIME'] = pd.to_datetime(tornado_2014_df['TIME'], format='%H:%M')


tornado_2014_df.head()

,Year,Month,DAY,TIME,STATE,YEAR,MONTH,EVENT_TYPE,SOURCE,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH
0,2014,10,14,1900-01-01 07:11:00,SOUTH CAROLINA,2014,October,Tornado,NWS Storm Survey,EF0,0.89,100.0
1,2014,10,14,1900-01-01 19:00:00,SOUTH CAROLINA,2014,October,Tornado,NWS Storm Survey,EF0,1.00,50.0
2,2014,5,16,1900-01-01 02:31:00,VIRGINIA,2014,May,Tornado,NWS Storm Survey,EF0,0.40,75.0
3,2014,9,4,1900-01-01 02:26:00,NORTH DAKOTA,2014,September,Tornado,Public,EF0,1.05,30.0
4,2014,9,8,1900-01-01 15:45:00,NORTH CAROLINA,2014,September,Tornado,NWS Storm Survey,EF2,0.15,100.0

# Checking for null values summary (mean)

In [9]:
tornado_2014_df.isnull().mean()

Year           0.0
Month          0.0
DAY            0.0
TIME           0.0
STATE          0.0
YEAR           0.0
MONTH          0.0
EVENT_TYPE     0.0
SOURCE         0.0
TOR_F_SCALE    0.0
TOR_LENGTH     0.0
TOR_WIDTH      0.0
dtype: float64

# Checking for duplicate rows

In [10]:
tornado_2014_df[tornado_2014_df.duplicated()]
#NO DUPLICATES RETURNED

Empty DataFrame
Columns: [Year, Month, DAY, TIME, STATE, YEAR, MONTH, EVENT_TYPE, SOURCE, TOR_F_SCALE, TOR_LENGTH, TOR_WIDTH]
Index: []

In [11]:
tornado_2014_df.head() #Looking at dataset after dropping and renaming rows

,Year,Month,DAY,TIME,STATE,YEAR,MONTH,EVENT_TYPE,SOURCE,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH
0,2014,10,14,1900-01-01 07:11:00,SOUTH CAROLINA,2014,October,Tornado,NWS Storm Survey,EF0,0.89,100.0
1,2014,10,14,1900-01-01 19:00:00,SOUTH CAROLINA,2014,October,Tornado,NWS Storm Survey,EF0,1.00,50.0
2,2014,5,16,1900-01-01 02:31:00,VIRGINIA,2014,May,Tornado,NWS Storm Survey,EF0,0.40,75.0
3,2014,9,4,1900-01-01 02:26:00,NORTH DAKOTA,2014,September,Tornado,Public,EF0,1.05,30.0
4,2014,9,8,1900-01-01 15:45:00,NORTH CAROLINA,2014,September,Tornado,NWS Storm Survey,EF2,0.15,100.0

In [12]:
tornado_2014_df.dtypes #Checking value types

Year                    int64
Month                   int64
DAY                     int64
TIME           datetime64[ns]
STATE                  object
YEAR                    int64
MONTH                  object
EVENT_TYPE             object
SOURCE                 object
TOR_F_SCALE            object
TOR_LENGTH            float64
TOR_WIDTH             float64
dtype: object

# Changing objects to strings

In [13]:
tornado_2014_df['STATE'] = tornado_2014_df['STATE'].astype('string')
tornado_2014_df['MONTH'] = tornado_2014_df['MONTH'].astype('string')
tornado_2014_df['EVENT_TYPE'] = tornado_2014_df['EVENT_TYPE'].astype('string')
tornado_2014_df['SOURCE'] = tornado_2014_df['SOURCE'].astype('string')
tornado_2014_df['TOR_F_SCALE'] = tornado_2014_df['TOR_F_SCALE'].astype('string')
tornado_2014_df['MONTH'] = tornado_2014_df['MONTH'].astype('string')

tornado_2014_df.head()

,Year,Month,DAY,TIME,STATE,YEAR,MONTH,EVENT_TYPE,SOURCE,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH
0,2014,10,14,1900-01-01 07:11:00,SOUTH CAROLINA,2014,October,Tornado,NWS Storm Survey,EF0,0.89,100.0
1,2014,10,14,1900-01-01 19:00:00,SOUTH CAROLINA,2014,October,Tornado,NWS Storm Survey,EF0,1.00,50.0
2,2014,5,16,1900-01-01 02:31:00,VIRGINIA,2014,May,Tornado,NWS Storm Survey,EF0,0.40,75.0
3,2014,9,4,1900-01-01 02:26:00,NORTH DAKOTA,2014,September,Tornado,Public,EF0,1.05,30.0
4,2014,9,8,1900-01-01 15:45:00,NORTH CAROLINA,2014,September,Tornado,NWS Storm Survey,EF2,0.15,100.0

# Creating NEW CSV DOCUMENT with only 2014 data. Will combine....

In [14]:
tornado_2014_df.to_csv("../data/tornado_2014_cleaned.csv", index=False)